.find-pwd-area{
    width: 1500px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    padding: 80px
}

.result-area{
    border: 2px solid #e4910d;
    border-radius: 5px;
    width: 1000px;
    margin: auto;
    padding: 40px;
}

.result-area table{
    margin: auto;
    margin-bottom: 10px;
}

.result-area>div>span {
    display: block;
    margin-bottom: 10px;
}

.message{
    display: none;
    font-size: 14px;
}

#authMsg{
    text-align: left;
}

#newPwdMsg, #checkPwdMsg{
    color: red;
}

.btn-area{
    margin-top: 50px;
}

#changePwdBtn{
    background-color: #E4910D;
    border-color: #E4910D;
}

#enrollBtn{
    background-color: #E4910D;
    border-color: #E4910D;
    margin-right: 20px;
}

#mainPageBtn{
    background-color: white;
    border-color: darkgray;
    color: black;
}