<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

		<entry key="selectListCount">
			SELECT 
			       BOARD_COUNT(*)
			  FROM BOARD
			 WHERE BOARD_STATUS = 'Y';
		</entry>
		
		
		<entry key="selectBoardList">
			SELECT *
			  FROM
			    (SELECT ROWNUM RNUM, A.*
			      FROM
			        (SELECT
			               BOARD_NO
			             , BOARD_TYPE
			             , BOARD_TITLE
			             , NICKNAME
			             , BOARD_COUNT
			             , TO_CHAR(BOARD_DATE, 'YYYY.MM.DD') "BOARD_DATE"
			          FROM BOARD 
			          JOIN MEMBER ON (BOARD_WRITER = MEM_ID)
			         WHERE BOARD_STATUS = 'Y'
			         ORDER 
			            BY BOARD_NO DESC
			         ) A
			     )
			  WHERE RNUM BETWEEN ? AND ?
		</entry>
		



</properties>