<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectHeartListByMem">
		SELECT
		       R.REST_NO
		     , REST_NAME
		     , LOCAL_NAME
		     , MENU_NAME
		     , NVL(ROUND(AVG(REVIEW_RATE)), 0) "REST_AVG"
		     , NVL(REVIEW_COUNT, 0) "REVIEW_COUNT"
		     , COUNT_LIKE
		     , REST_IMG_URL
		     , LIKE_DATE
		  FROM REST R
		  JOIN LOCATION ON (REST_LOCAL_ID = LOCAL_ID)
		  LEFT JOIN (
		        SELECT
		               REST_NO
		             , NVL(ROUND(AVG(REVIEW_RATE)), 0) "REVIEW_RATE"
		             , COUNT(*) "REVIEW_COUNT"
		          FROM REVIEW
		         WHERE REVIEW_STATUS = 'Y'
		         GROUP
		            BY REST_NO
		       ) T2 ON (R.REST_NO = T2.REST_NO)
		  LEFT JOIN MENU M ON (R.REST_NO = M.REST_NO AND M.REP_MENU = 'Y')
		  JOIN (
		        SELECT
		               REST_NO
		             , LIKE_DATE
		             , COUNT_LIKE
		          FROM HEART
		          JOIN (
		                SELECT
		                       REST_NO
		                     , COUNT(*) "COUNT_LIKE"
		                  FROM HEART
		                 GROUP
		                    BY REST_NO
		               ) USING(REST_NO)
		         WHERE MEM_NO = ?
		       ) T1 ON (R.REST_NO = T1.REST_NO)
		 WHERE REST_STATUS = 'Y'
		 GROUP
		    BY R.REST_NO
		     , REST_NAME
		     , LIKE_DATE
		     , COUNT_LIKE
		     , REST_IMG_URL
		     , LOCAL_NAME
		     , MENU_NAME
		     , REVIEW_COUNT
	</entry>
	
	<entry key="deleteHeart">
		DELETE
		  FROM HEART
		 WHERE REST_NO = ?
		   AND MEM_NO = ?
	</entry>
	
	<entry key="selectHeartByRest">
		SELECT
		       REST_NO
		     , MEM_NO
		  FROM HEART
		 WHERE REST_NO = ?
	</entry>
</properties>