<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<entry key="loginMember">
		SELECT
		       MEM_NO
		     , MEM_ID
		     , MEM_PWD
		     , MEM_NAME
		     , NICKNAME
		     , EMAIL
		     , EMAIL_AUTH
		     , ADDRESS
		     , MEM_WARNING
		     , ENROLL_DATE
		     , MEM_LEVEL
		     , MEM_STATUS
		  FROM MEMBER
		 WHERE MEM_ID = ?
		   AND MEM_PWD = ?
		   AND MEM_STATUS = 'Y'
	</entry>
	
	<entry key="selectMember">
		SELECT
		       MEM_NO
		     , MEM_ID
		     , MEM_PWD
		     , MEM_NAME
		     , NICKNAME
		     , EMAIL
		     , EMAIL_AUTH
		     , ADDRESS
		     , MEM_WARNING
		     , ENROLL_DATE
		     , MEM_LEVEL
		     , MEM_STATUS
		  FROM MEMBER
		 WHERE MEM_ID = ?
		   AND MEM_STATUS = 'Y'
	</entry>
	
	<entry key="kakaoLoginMember">
		SELECT
		       MEM_NO
		     , MEM_ID
		     , MEM_PWD
		     , MEM_NAME
		     , NICKNAME
		     , EMAIL
		     , EMAIL_AUTH
		     , ADDRESS
		     , MEM_WARNING
		     , ENROLL_DATE
		     , MEM_LEVEL
		     , MEM_STATUS
		  FROM MEMBER
		 WHERE MEM_ID = ?
		   AND MEM_STATUS = 'Y'
	</entry>
	
	<entry key="idCheck">
		SELECT
		       COUNT(*) "COUNT"
		  FROM MEMBER
		 WHERE MEM_ID = ?
	</entry>
	
	<entry key="nickCheck">
		SELECT
		       COUNT(*) "COUNT"
		  FROM MEMBER
		 WHERE NICKNAME = ?
	</entry>
	
	<entry key="emailCheck">
		SELECT
		       COUNT(*) "COUNT"
		  FROM MEMBER
		 WHERE EMAIL = ?
	</entry>
	
	<entry key="selectMemberId">
		SELECT
		       MEM_NO
		     , MEM_ID
		     , ENROLL_DATE
		  FROM MEMBER
		 WHERE MEM_NAME = ?
		   AND EMAIL = ?
	</entry>
	
	<entry key="selectMemberEmail">
		SELECT
		       MEM_NO
		     , EMAIL
		  FROM MEMBER
		 WHERE MEM_ID = ?
		   AND STATUS = 'Y'
	</entry>
	
	<entry key="insertMember">
		INSERT
		  INTO MEMBER
		  (
		    MEM_NO
		  , MEM_ID
		  , MEM_PWD
		  , MEM_NAME
		  , NICKNAME
		  , EMAIL
		  , EMAIL_AUTH
		  , ADDRESS
		  )
		  VALUES
		  (
		    'M' || SEQ_MNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="updateMemberAuth">
		UPDATE MEMBER
		   SET EMAIL_AUTH = 1
		 WHERE EMAIL = ?
	</entry>

	<entry key="selectMemberList">
		SELECT 
		    MEM_NO
		    ,MEM_ID
		    ,MEM_NAME
		    ,NICKNAME
		    ,MEM_WARNING
		    ,ENROLL_DATE
	   	 FROM MEMBER
		WHERE MEM_LEVEL = 'U'
	</entry>
	
	<entry key="updateMember">
		UPDATE MEMBER
		   SET MEM_NAME = ?
		     , NICKNAME = ?
		     , ADDRESS = ?
		 WHERE MEM_ID = ?
		   AND EMAIL = ?
	</entry>
	
	<entry key="selectLocationList">
		SELECT
		       LOCAL_ID
		     , LOCAL_NAME
		  FROM LOCATION
	</entry>
	
	<entry key="updateMemberPwd">
		UPDATE MEMBER
		   SET MEM_PWD = ?
		 WHERE MEM_NO = ?
		   AND MEM_PWD = ?
	</entry>
	
	<entry key="selectMemberFindPwd">
		SELECT
		       MEM_NO
		  FROM MEMBER
		 WHERE MEM_NAME = ?
		   AND MEM_ID = ?
		   AND EMAIL = ?
		   AND MEM_STATUS = 'Y'
	</entry>
	
	<entry key="updateMemberFindPwd">
		UPDATE MEMBER
		   SET MEM_PWD = ?
		 WHERE MEM_NO = ?
	</entry>
	
</properties>