<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectReviewList">
			SELECT *    
				FROM (SELECT ROWNUM RNUM, A.*
				     FROM (
				          SELECT 
				                    REVIEW_NO
				                  , REST_NO
				                  , NICKNAME
				                  , REVIEW_CONT
				                  , TO_CHAR(REVIEW_DATE, 'YYYY.MM.DD') AS REVIEW_DATE
				                  , REVIEW_LIKE
				                  , REVIEW_DISLIKE
				                  , REVIEW_RATE
				             FROM REVIEW
				             JOIN MEMBER ON (MEM_NO = REVIEW_WRITER)
				            WHERE REVIEW_STATUS = 'Y'
				              AND REST_NO = ?
				            ORDER 
				               BY TO_NUMBER(REGEXP_REPLACE(REVIEW_NO, '[^0-9]+', '')) DESC
				        ) A
       		 )	   
	</entry>
	
	<entry key="selectImgList">
		SELECT 
		       IMG_FILE_NO
		      ,IMG_ORIGIN_NAME
		      ,IMG_CHANGE_NAME
		      ,IMG_FILE_PATH
		  FROM IMG_FILE
		 WHERE REF_NO = 'RV6'
	</entry>
	
	<entry key="selectReviewListByMem">
		SELECT
		       REVIEW_NO
		     , NICKNAME
		     , REVIEW_CONT
		     , REVIEW_DATE
		     , REVIEW_LIKE
		     , REVIEW_DISLIKE
		     , REVIEW_RATE
		  FROM REVIEW
		  JOIN MEMBER ON (REVIEW_WRITER = MEM_NO)
		 WHERE REVIEW_WRITER = ?
	</entry>

	<entry key="deleteReview">
		UPDATE REVIEW
		   SET REVIEW_STATUS ='N'
		 WHERE REVIEW_NO = ?
	</entry>
	
	<entry key="insertReview">
		INSERT 
		  INTO REVIEW
		       (
		         REVIEW_NO
		       , REST_NO
		       , REVIEW_WRITER
		       , REVIEW_CONT
		       , REVIEW_RATE
		       )
		VALUES (
		        'RV'||SEQ_RVNO.NEXTVAL
		        , ?
		        , ?
		        , ?
                , ?
		       )

	</entry>
</properties>