<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectReviewList">
		SELECT 
		        REVIEW_NO
		      , REST_NO
		      , NICKNAME
		      , REVIEW_CONT
		      , TO_CHAR(REVIEW_DATE, 'YYYY.MM.DD') AS formatted_date "REVIEW_DATE"
		      , REVIEW_LIKE
		      , REVIEW_DISLIKE
		      , RATE_TASTE
		      , RATE_PRICE
		      , RATE_SERVICE
		      , ROUND(((RATE_TASTE + RATE_PRICE + RATE_SERVICE)/3)/5*100, 0) "RATE_AVG"
		 FROM REVIEW
		 JOIN MEMBER ON (MEM_NO = REVIEW_WRITER)
		WHERE REVIEW_STATUS = 'Y'
		  AND REST_NO = ?
	</entry>
	
	<entry key="selectImgList">
		SELECT 
		       IMG_FILE_NO
		      ,IMG_ORIGIN_NAME
		      ,IMG_CHANGE_NAME
		      ,IMG_FILE_PATH
		  FROM IMG_FILE
		 WHERE REF_NO = ?
	</entry>

</properties>