<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectReviewList">
			SELECT *    
				FROM (SELECT ROWNUM RNUM, A.*
				     FROM (
				          SELECT 
				                    REVIEW_NO
				                  , REST_NO
				                  , NICKNAME
				                  , REVIEW_CONT
				                  , TO_CHAR(REVIEW_DATE, 'YYYY.MM.DD') AS REVIEW_DATE
				                  , REVIEW_LIKE
				                  , REVIEW_DISLIKE
				                  , REVIEW_RATE
				             FROM REVIEW
				             JOIN MEMBER ON (MEM_NO = REVIEW_WRITER)
				            WHERE REVIEW_STATUS = 'Y'
				              AND REST_NO = ?
				            ORDER 
				               BY TO_NUMBER(REGEXP_REPLACE(REVIEW_NO, '[^0-9]+', '')) DESC
				        ) A
       		 )	   
	</entry>
	
	<entry key="selectImgList">
		SELECT 
		       IMG_FILE_NO
		      ,IMG_ORIGIN_NAME
		      ,IMG_CHANGE_NAME
		      ,IMG_FILE_PATH
		  FROM IMG_FILE
		 WHERE REF_NO = 'RV6'
	</entry>
	
	<entry key="selectReviewListByMem">
		SELECT
		       REVIEW_NO
		     , NICKNAME
		     , REVIEW_CONT
		     , REVIEW_DATE
		     , REVIEW_LIKE
		     , REVIEW_DISLIKE
		     , REVIEW_RATE
		  FROM REVIEW
		  JOIN MEMBER ON (REVIEW_WRITER = MEM_NO)
		 WHERE REVIEW_WRITER = ?
		   AND REVIEW_STATUS = 'Y'
	</entry>

	<entry key="deleteReview">
		UPDATE REVIEW
		   SET REVIEW_STATUS ='N'
		 WHERE REVIEW_NO = ?
	</entry>
	
	<entry key="insertReview">
		INSERT 
		  INTO REVIEW
		       (
		         REVIEW_NO
		       , REST_NO
		       , REVIEW_WRITER
		       , REVIEW_CONT
		       , REVIEW_RATE
		       )
		VALUES (
		        'RV'||SEQ_RVNO.NEXTVAL
		        , ?
		        , ?
		        , ?
                , ?
		       )

	</entry>
	
	<entry key="selectReviewRate">
		SELECT 
		       REVIEW_RATE,
		       COUNT(REVIEW_RATE) "REVIEW_COUNT"
		  FROM REVIEW
		 WHERE REST_NO = ?
		   AND REVIEW_RATE IN (5, 4, 3, 2, 1)
		    AND REVIEW_STATUS = 'Y'
		 GROUP
            BY REVIEW_RATE
	</entry>
	
	<entry key="selectReviewAvg">
	
	SELECT 
		MAX(ROUND(REVIEW_SUM/REVIEW_SUM_COUNT, 1)) REVIEW_AVG
		    FROM
		       (SELECT 
			        SUM(REVIEW_RATE*REVIEW_COUNT) OVER() REVIEW_SUM,
			        SUM(REVIEW_COUNT) OVER() REVIEW_SUM_COUNT
		                FROM
			                (SELECT 
			                       REVIEW_RATE,
			                       COUNT(REVIEW_RATE) "REVIEW_COUNT"
			                  FROM REVIEW
			                 WHERE REST_NO = ?
			                   AND REVIEW_RATE IN (5, 4, 3, 2, 1)
			                    AND REVIEW_STATUS = 'Y'
			                 GROUP
			                    BY REVIEW_RATE))
	
	</entry>
	
	<entry key="checkLiked">
	 SELECT *
	   FROM RVLIKE
	  WHERE REVIEW_NO = ?
	    AND NICKNAME = ?
	</entry>
	
	
	<entry key="insertLike">
	INSERT
		  INTO RVLIKE
		  (
		    REVIEW_NO
		  , NICKNAME
		  )
		  VALUES
		  (
		    ?
		  , ?
		  )
	</entry>
	
	<entry key="deleteLike">
		DELETE
		  FROM RVLIKE
		 WHERE REVIEW_NO = ?
		   AND NICKNAME = ?
	</entry>
	
	<entry key="selectLike">
	  SELECT *
		FROM RVLIKE
	   WHERE REVIEW_NO = ?
	     AND NICKNAME = ?
	</entry>

	<entry key="insertRvLike">
	UPDATE REVIEW
	   SET REVIEW_LIKE = REVIEW_LIKE  + 1
     WHERE REVIEW_NO = ?
	</entry>
	
	<entry key="deleteRvLike">
	UPDATE REVIEW
	   SET REVIEW_LIKE = REVIEW_LIKE  - 1
     WHERE REVIEW_NO = ?
	</entry>
	
	<entry key="countLike">
	SELECT 
	        COUNT(REVIEW_NO) LIKE_COUNT,
            REVIEW_NO
      FROM  RVLIKE
     WHERE REVIEW_NO = ?
     GROUP
        BY REVIEW_NO
	</entry>
</properties>